<!-- app-sidebar.component.html -->

<nav class="sidebar">
    <div class="sidebar-header">
      <h3>Admin Panel</h3>
    </div>
  
    <ul class="list-unstyled components">
      <li>
        <a routerLink="dashboard">Dashboard</a>
      </li>
      <li>
        <a routerLink="member-list">Member List</a>
      </li>
      <li>
        <a routerLink="add-emi">ADD Payment</a>
      </li>
      <li>
        <a routerLink="e-pin">Genrate E-pin</a>
      </li>
      <li>
        <a routerLink="payout">Payout</a>
      </li>
      <li>
        <a routerLink="payoutDetails">Payout Details</a>
      </li>
      <li>
        <a routerLink="recentPayments">Recent Payments</a>
      </li>
      <!-- Add more menu items as needed -->
    </ul>
  </nav>
  