<!-- user-list.component.html -->

<div class="container mt-5">
    <h2>User List</h2>
    <input type="text" placeholder="Search..." class="form-control mb-5" [(ngModel)]="searchTerm" />
    <div *ngIf="loading" class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    <table class="table" *ngIf="!loading" >
        <thead>
            <tr>
                <th>#</th> <!-- Serial Number Column -->
                <th>Username</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Activation Date</th>
                <th>Password</th>
                <th>Sponsor ID</th>
                <th>Action</th> <!-- New column for Edit button -->
                <th>Button</th> <!-- New column for Edit button -->
                <th>Add Emi</th> <!-- New column for Edit button -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filteredUsers; let i = index">
                <td>{{user.serialNumber}}</td> <!-- Serial Number Starts from 1 -->
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ transformDateTime(user.createdAt) }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.sponsorId }}</td>
                <td>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editUser(user.username)">Edit</button>
                </td>
                <td>
                    <button class="btn btn-success" (click)="loginUser(user)">Login</button>
                </td>
                <td>
                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="emiusername(user.username)">ADD EMI</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div *ngIf="loading" class="text-center">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="!loading">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                    </div>
                    <div class="form-group">
                        <label for="panNumber">PAN Number</label>
                        <input type="text" class="form-control" id="panNumber" formControlName="panNumber">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="email">DOB</label>
                        <input type="date" class="form-control" id="dob" formControlName="dob">
                    </div>
                </form>
                <hr>
                <h4>Account Deatils</h4>
                <div class="form-group">
                    <label for="email">Bank Name</label>
                    <input type="email" class="form-control" [(ngModel)]="bankName">
                </div>
                <div class="form-group">
                    <label for="email">Account Number</label>
                    <input type="email" class="form-control" [(ngModel)]="accountNumber">
                </div>
                <div class="form-group">
                    <label for="email">IFSC Code</label>
                    <input type="email" class="form-control" [(ngModel)]="ifscCode">
                </div>
                <button class="btn btn-primary form-control mt-2" (click)="bankDeatils()">Save Bank Details</button>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">ADD EMI</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>Total EMI Paid:{{userpayedemi}}</div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" [(ngModel)]="date" class="form-control">
            <button type="button" class="btn btn-primary mt-2 " (click)="addemi()">ADD EMI</button>
            <div class="card mt-2">
                <div class="card-header">
                    Topup Amount
                </div>
                <div class="card-body">
                    <label for="date">Topup Amount Present:{{totalAmount}}</label><br>
                    <label for="date">Topup Amount:</label>
                <input type="number" placeholder="Amount" name="date" [(ngModel)]="topupAmount" class="form-control">
                <button type="button" class="btn btn-primary mt-2 " (click)="topup()">ADD Topup</button>
                </div>
                <div class="card-footer">
                    <label for="date">Topup Amount want to Delete:</label>
                    <input type="number" placeholder="Amount" name="date" [(ngModel)]="topupAmount" class="form-control">
                    <button type="button" class="btn btn-primary mt-2 " (click)="topupDel()">Delete Topup</button>
                </div>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>