<div class="container mt-5">
    <h2>EPIN Form</h2>
    <form [formGroup]="epinForm" (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label for="userId" class="form-label">User ID:</label>
        <input type="text" class="form-control" id="userId" formControlName="userId" (input)="checksponsername()">
        <div *ngIf="name!=null" class="fw-bold">Name: <span>{{name}}</span></div>
      </div>
      <div class="mb-3">
        <label for="count" class="form-label">Count:</label>
        <input type="number" class="form-control" id="count" formControlName="count" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>